{% extends 'base.html.twig' %}

{% block title %}This is the form's Template!{% endblock %}

{% block body %}
    <div class="form-group">
        {{ form_start(formPeople) }}
        {{ form_widget(formPeople) }}
        {# {{ form_row(formPeople.first_name,{'label':'feather'}) }} #}
        {# {{ form_row(formPeople.first_name) }} pour generer une seule ligne de champ pour formulaire #}
        <button class="btn btn-primary" type="submit">Submit</button>
        {{ form_end(formPeople) }}
    </div>
{% endblock %}
