{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}
    <div class="">
        <h1 class="text-center mt-5">Users Lists</h1>
        <table class="table">
            <thead>
            <th>Id</th>
            <th>Title</th>
            <th>First_name</th>
            <th>Last_name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            </thead>
            <tbody>
            {% for user in users %}
                <td>{{ user.id }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    <button type="button" class="btn-warning">Modify</button>
                </td>
            {% else %}
                <p>there is currently no users registered</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
