{% extends 'base.html.twig' %}

{% block title %}Hello FormPeopleController!{% endblock %}

{% block body %}
    {{ form_start(formPeople) }}
    {{ form_widget(formPeople) }}
    {# {{ form_row(formPeople.first_name,{'label':'feather'}) }} #}
    {# {{ form_row(formPeople.first_name) }} pour generer une seule ligne de champ pour formulaire #}
    <button type="submit">click me!</button>
    {{ form_end(formPeople) }}
{% endblock %}
