{% extends '../base.html.twig' %}
{% block title %} Pokemon! {% endblock %}
{% block body %}
    {% if app.request.get('version')== 'red' %}
        {{ Pokemon_games["Pokemon_red"] }}
        <img src="{{ asset('https://images-na.ssl-images-amazon.com/images/I/71ZlDsoz7BL._SL1064_.jpg') }}"/>
    {% elseif  app.request.get('version')== 'blue' %}
        {{ Pokemon_games["Pokemon_blue"] }}
        <img src="{{ asset('https://s3.gaming-cdn.com/images/products/3548/orig/pokemon-blue-version-3ds-cover.jpg') }}"/>
    {% elseif  app.request.get('version')== 'green' %}
        {{ Pokemon_games["Pokemon_green"] }}
        <img src="{{ asset('https://www.retrogamecases.com/wp-content/uploads/gb_pokemongreenversion_front.jpg') }}"/>
    {% elseif  app.request.get('version')== 'yellow' %}
        {{ Pokemon_games["Pokemon_yellow"] }}
        <img src="{{ asset('https://s3.gaming-cdn.com/images/products/3548/orig/pokemon-blue-version-3ds-cover.jpg') }}"/>
    {% endif %}
    {# <ul>
        {% for Pokemon_game in Pokemon_games %}
            <li>{{ Pokemon_game }}</li>
        {% endfor %}
    </ul> #}
{% endblock %}